# Table of Contents

0.1 Import Libraries

0.2 Import Data: CENSUS_2013-2022.csv

0.3 Explore Original Dataframe

0.4 Drop NaN rows

0.5 Transform Dataframe / Wrangle Table Structure

0.6 Adjust Datatypes

0.7 Clean / Check / Wrangle Data
    
    0.7.1 Overall df
    0.7.2 population
    0.7.3 year
    0.7.4 state
    0.7.5 age_group
    0.7.6 gender
    0.7.7 ethnicity

0.8 Export the Clean Dataframe: census_2013-22_clean.pkl

### 0.1 Import Libraries

In [7]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 0.2 Import Data: CENSUS_2013-2022.csv

In [8]:
# Identify the file pathway to data files
path = r'C:\Users\CJ\Documents\_CJ-Stuff\Career Foundry\Data Immersion\Ach 6 - Adv Analytics and Dashboard\Donate Life Project'

In [9]:
# Import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CENSUS_2013-2022.csv'))

C:\Users\CJ\AppData\Local\Temp\ipykernel_5992\938100978.py:2: DtypeWarning: Columns (0,1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CENSUS_2013-2022.csv'))

### 0.3 Explore Original Dataframe

In [10]:
df.shape

(118453, 14)

The number of columns matches what was exported from Excel, but the number of rows is signficiantly larger.

In [11]:
df.head()

,state,gender,ethnicity,age_group,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),< 1 Year,96.0,123.0,78.0,85.0,95.0,131.0,165.0,114.0,55.0,60.0
1,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),1-5 Years,632.0,591.0,587.0,549.0,534.0,548.0,592.0,439.0,473.0,469.0
2,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),6-10 Years,790.0,756.0,737.0,735.0,692.0,653.0,619.0,515.0,483.0,474.0
3,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),11-17 Years,1348.0,1326.0,1293.0,1230.0,1181.0,1117.0,1078.0,1085.0,1037.0,989.0
4,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),18-34 Years,3076.0,3100.0,3148.0,3139.0,3123.0,3132.0,3141.0,3229.0,3246.0,3248.0

In [12]:
df.tail()

,state,gender,ethnicity,age_group,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
118448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It appears that some blank rows were exported along with the good data -- this will be removed during cleaning.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118453 entries, 0 to 118452
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      5600 non-null   object
 1   gender     5600 non-null   object
 2   ethnicity  5600 non-null   object
 3   age_group  5600 non-null   object
 4   2013       5600 non-null   float64
 5   2014       5600 non-null   float64
 6   2015       5600 non-null   float64
 7   2016       5600 non-null   float64
 8   2017       5600 non-null   float64
 9   2018       5600 non-null   float64
 10  2019       5600 non-null   float64
 11  2020       5600 non-null   float64
 12  2021       5600 non-null   float64
 13  2022       5600 non-null   float64
dtypes: float64(10), object(4)
memory usage: 12.7+ MB

All of the column names were extracted correctly.  The default datatypes can be simplified to make the dataframe more compact.

In [14]:
df.describe()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.600000e+03
mean,5.631127e+04,5.672119e+04,5.713567e+04,5.754562e+04,5.790904e+04,5.821178e+04,5.848817e+04,5.907869e+04,5.917192e+04,5.939567e+04
std,1.605872e+05,1.613870e+05,1.621177e+05,1.627780e+05,1.633030e+05,1.637018e+05,1.640513e+05,1.648497e+05,1.646074e+05,1.648115e+05
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.350000e+02,8.557500e+02,8.817500e+02,9.170000e+02,9.202500e+02,9.365000e+02,9.522500e+02,9.990000e+02,1.016000e+03,1.022250e+03
50%,4.916500e+03,5.043500e+03,5.135500e+03,5.276000e+03,5.335000e+03,5.434000e+03,5.559000e+03,5.748500e+03,5.859000e+03,6.001000e+03
75%,2.865525e+04,2.960875e+04,3.030000e+04,3.099725e+04,3.189025e+04,3.247650e+04,3.327475e+04,3.407550e+04,3.476125e+04,3.556050e+04
max,2.170275e+06,2.192418e+06,2.203638e+06,2.215606e+06,2.223786e+06,2.229177e+06,2.231879e+06,2.247291e+06,2.231601e+06,2.232662e+06

All other basic statistics seem plausible/appropriate.

### 0.4 Drop NaN Rows

In [16]:
# Create a new dataframe with only the non-null rows
df2 = df[df['state'].isnull() == False]

In [17]:
df2.shape

(5600, 14)

This shape matches what we exported from Excel.

In [18]:
df2.head()

,state,gender,ethnicity,age_group,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),< 1 Year,96.0,123.0,78.0,85.0,95.0,131.0,165.0,114.0,55.0,60.0
1,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),1-5 Years,632.0,591.0,587.0,549.0,534.0,548.0,592.0,439.0,473.0,469.0
2,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),6-10 Years,790.0,756.0,737.0,735.0,692.0,653.0,619.0,515.0,483.0,474.0
3,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),11-17 Years,1348.0,1326.0,1293.0,1230.0,1181.0,1117.0,1078.0,1085.0,1037.0,989.0
4,Alabama,Male,American Indian/Alaska Native (Non-Hispanic),18-34 Years,3076.0,3100.0,3148.0,3139.0,3123.0,3132.0,3141.0,3229.0,3246.0,3248.0

In [19]:
df2.tail()

,state,gender,ethnicity,age_group,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
5595,Wyoming,Female,White (Non-Hispanic),11-17 Years,19814.0,19910.0,19925.0,20010.0,19985.0,20091.0,20379.0,20938.0,21205.0,21139.0
5596,Wyoming,Female,White (Non-Hispanic),18-34 Years,54381.0,53927.0,53661.0,52680.0,51079.0,50003.0,49289.0,48565.0,48459.0,47957.0
5597,Wyoming,Female,White (Non-Hispanic),35-49 Years,42211.0,41881.0,42056.0,42203.0,42315.0,42741.0,43241.0,43030.0,43464.0,44006.0
5598,Wyoming,Female,White (Non-Hispanic),50-64 Years,54281.0,53730.0,53097.0,52070.0,50871.0,49761.0,48926.0,47143.0,46316.0,45391.0
5599,Wyoming,Female,White (Non-Hispanic),65+,38712.0,40068.0,41446.0,42781.0,44241.0,45781.0,47316.0,47690.0,49349.0,50885.0

Confirmed match with what was exported from Excel

### 0.5 Transform Dataframe / Wrangle Table Structure

In [26]:
# Extract the list of column names and set it to an string datatype
col_names_df = pd.DataFrame(columns=['col_names'])
col_names_df['col_names'] = df2.columns.values.astype('str')

In [27]:
col_names_df

    col_names
0       state
1      gender
2   ethnicity
3   age_group
4        2013
5        2014
6        2015
7        2016
8        2017
9        2018
10       2019
11       2020
12       2021
13       2022

In [28]:
# Create dataframe to hold the data in the new format
dft = pd.DataFrame(columns=['population',
                            'year', 
                            'state', 
                            'age_group', 
                            'gender', 
                            'ethnicity'])

In [29]:
# Iterating over the rows and columns with the quantitative data
# So each data point will be its own row in the new dataframe
# Also extracting the year from the column name in the original df
# to become categorical data in the new df

for row in range(len(df2)):
    for column in range(4,14):

        # new_row is the row index in the new dataframe dtw
        new_row = row + ((column-4)*5600)

        dft.loc[new_row, 'population'] = df2.iloc[row, column]
        dft.loc[new_row, 'year'] = col_names_df.loc[column,'col_names']
        dft.loc[new_row, 'state'] = df2.loc[row,'state']
        dft.loc[new_row, 'age_group'] = df2.loc[row,'age_group']
        dft.loc[new_row, 'gender'] = df2.loc[row,'gender']
        dft.loc[new_row, 'ethnicity'] = df2.loc[row,'ethnicity']

In [30]:
dft.shape

(56000, 6)

The shape has the expected number of rows and columns.

In [31]:
dft.head(20)

,population,year,state,age_group,gender,ethnicity
0,96.0,2013,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
5600,123.0,2014,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
11200,78.0,2015,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
16800,85.0,2016,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
22400,95.0,2017,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
28000,131.0,2018,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
33600,165.0,2019,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
39200,114.0,2020,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
44800,55.0,2021,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
50400,60.0,2022,Alabama,< 1 Year,Male,American Indian/Alaska Native (Non-Hispanic)
1,632.0,2013,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
5601,591.0,2014,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
11201,587.0,2015,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
16801,549.0,2016,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
22401,534.0,2017,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
28001,548.0,2018,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
33601,592.0,2019,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
39201,439.0,2020,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
44801,473.0,2021,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)
50401,469.0,2022,Alabama,1-5 Years,Male,American Indian/Alaska Native (Non-Hispanic)

In [32]:
dft.tail(20)

      population  year    state    age_group  gender             ethnicity
5598     54281.0  2013  Wyoming  50-64 Years  Female  White (Non-Hispanic)
11198    53730.0  2014  Wyoming  50-64 Years  Female  White (Non-Hispanic)
16798    53097.0  2015  Wyoming  50-64 Years  Female  White (Non-Hispanic)
22398    52070.0  2016  Wyoming  50-64 Years  Female  White (Non-Hispanic)
27998    50871.0  2017  Wyoming  50-64 Years  Female  White (Non-Hispanic)
33598    49761.0  2018  Wyoming  50-64 Years  Female  White (Non-Hispanic)
39198    48926.0  2019  Wyoming  50-64 Years  Female  White (Non-Hispanic)
44798    47143.0  2020  Wyoming  50-64 Years  Female  White (Non-Hispanic)
50398    46316.0  2021  Wyoming  50-64 Years  Female  White (Non-Hispanic)
55998    45391.0  2022  Wyoming  50-64 Years  Female  White (Non-Hispanic)
5599     38712.0  2013  Wyoming          65+  Female  White (Non-Hispanic)
11199    40068.0  2014  Wyoming          65+  Female  White (Non-Hispanic)
16799    41446.0  2015  Wyoming          65+  Female  White (Non-Hispanic)
22399    42781.0  2016  Wyoming          65+  Female  White (Non-Hispanic)
27999    44241.0  2017  Wyoming          65+  Female  White (Non-Hispanic)
33599    45781.0  2018  Wyoming          65+  Female  White (Non-Hispanic)
39199    47316.0  2019  Wyoming          65+  Female  White (Non-Hispanic)
44799    47690.0  2020  Wyoming          65+  Female  White (Non-Hispanic)
50399    49349.0  2021  Wyoming          65+  Female  White (Non-Hispanic)
55999    50885.0  2022  Wyoming          65+  Female  White (Non-Hispanic)

The head and tail match data visible in Excel.

### 0.6 Adjust Datatypes

In [33]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56000 entries, 0 to 55999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  56000 non-null  object
 1   year        56000 non-null  object
 2   state       56000 non-null  object
 3   age_group   56000 non-null  object
 4   gender      56000 non-null  object
 5   ethnicity   56000 non-null  object
dtypes: object(6)
memory usage: 5.0+ MB

In [34]:
# The max integer for any quantitative column is 2022, and int16 accomodates up to 32k
dft['year'] = dft['year'].astype('int16')
dft['population'] = dft['population'].astype('float64')

In [35]:
# The columns classified as 'objects' are really categorical variables.
dft['state'] = dft['state'].astype('category')
dft['age_group'] = dft['age_group'].astype('category')
dft['gender'] = dft['gender'].astype('category')
dft['ethnicity'] = dft['ethnicity'].astype('category')

In [36]:
# Confirming changes took
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56000 entries, 0 to 55999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  56000 non-null  float64
 1   year        56000 non-null  int16
 2   state       56000 non-null  category
 3   age_group   56000 non-null  category
 4   gender      56000 non-null  category
 5   ethnicity   56000 non-null  category
dtypes: category(4), float64(1), int16(1)
memory usage: 3.2 MB

In [37]:
# Reclaiming space
del df
del df2
del col_names_df

### 0.7 Clean / Check Data

#### 0.7.1 Overall df checks

In [38]:
# Checking for nulls across the df
dft.isnull().sum()

population    0
year          0
state         0
age_group     0
gender        0
ethnicity     0
dtype: int64

No nulls found

In [39]:
# Check for mixed data types
for col in dft.columns.tolist():
  weird = (dft[[col]].applymap(type) != dft[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (dft[weird]) > 0:
    print (col)

No mixed data types found

In [40]:
# Checking for whole-row duplicates
dups = dft[dft.duplicated()]

In [41]:
dups.shape

(0, 6)

No duplicates found

#### 0.7.2 - population cleaning/checks/wrangling

In [42]:
#Exploring the data for this column
dft['population'].describe()

count    5.600000e+04
mean     5.799690e+04
std      1.632155e+05
min      0.000000e+00
25%      9.290000e+02
50%      5.414500e+03
75%      3.242650e+04
max      2.247291e+06
Name: population, dtype: float64

These numbers are appropriate given the preliminary exploration of the .csv in Excel.

#### 0.7.3 year cleaning/checks/wrangling

In [45]:
#Exploring the data for this column
dft['year'].describe()

count    56000.000000
mean      2017.500000
std          2.872307
min       2013.000000
25%       2015.000000
50%       2017.500000
75%       2020.000000
max       2022.000000
Name: year, dtype: float64

In [46]:
dft['year'].value_counts().sort_index()

2013    5600
2014    5600
2015    5600
2016    5600
2017    5600
2018    5600
2019    5600
2020    5600
2021    5600
2022    5600
Name: year, dtype: int64

The expected value for the counts is 5,600  (50 states * 2 genders * 8 age_groups * 7 ethnicities)

This data appears to be complete and consistent.

In [47]:
# Exploring the total population in each year
dft.groupby('year').population.sum()

year
2013    315343134.0
2014    317638680.0
2015    319959763.0
2016    322255496.0
2017    324290633.0
2018    325985954.0
2019    327533774.0
2020    330840644.0
2021    331362763.0
2022    332615754.0
Name: population, dtype: float64

#### 0.7.4 state cleaning/checks/wrangling

In [48]:
#Exploring the data for this column
dft['state'].describe()

count       56000
unique         50
top       Alabama
freq         1120
Name: state, dtype: object

In [50]:
dft['state'].value_counts().sort_index()

Alabama           1120
Alaska            1120
Arizona           1120
Arkansas          1120
California        1120
Colorado          1120
Connecticut       1120
Delaware          1120
Florida           1120
Georgia           1120
Hawaii            1120
Idaho             1120
Illinois          1120
Indiana           1120
Iowa              1120
Kansas            1120
Kentucky          1120
Louisiana         1120
Maine             1120
Maryland          1120
Massachusetts     1120
Michigan          1120
Minnesota         1120
Mississippi       1120
Missouri          1120
Montana           1120
Nebraska          1120
Nevada            1120
New Hampshire     1120
New Jersey        1120
New Mexico        1120
New York          1120
North Carolina    1120
North Dakota      1120
Ohio              1120
Oklahoma          1120
Oregon            1120
Pennsylvania      1120
Rhode Island      1120
South Carolina    1120
South Dakota      1120
Tennessee         1120
Texas             1120
Utah              1120
Vermont           1120
Virginia          1120
Washington        1120
West Virginia     1120
Wisconsin         1120
Wyoming           1120
Name: state, dtype: int64

The expected value for the counts would be 1,120  
(10 years * 2 genders * 8 age groups * 7 ethnicities)

This data appears to be complete and consistent.

#### 0.7.5 age_group cleaning/checks/wrangling

In [51]:
#Exploring the data for this column
dft['age_group'].describe()

count         56000
unique            8
top       1-5 Years
freq           7000
Name: age_group, dtype: object

In [52]:
dft['age_group'].value_counts()

1-5 Years      7000
11-17 Years    7000
18-34 Years    7000
35-49 Years    7000
50-64 Years    7000
6-10 Years     7000
65+            7000
< 1 Year       7000
Name: age_group, dtype: int64

The expected value for the counts would be 7,000  
(10 years * 50 states * 2 genders * 7 ethnicities)

This data appears to be complete and consistent.

#### 0.7.7 gender cleaning/checks/wrangling

In [58]:
#Exploring the data for this column
dft['gender'].describe()

count      56000
unique         2
top       Female
freq       28000
Name: gender, dtype: object

In [59]:
dft['gender'].value_counts()

Female    28000
Male      28000
Name: gender, dtype: int64

In [60]:
dft[dft['gender']=='Female'].population.sum()

1644918332.0

In [61]:
dft[dft['gender']=='Male'].population.sum()

1602908263.0

The expected value for the counts would be 28,000.  
(10 years * 50 states * 8 age groups * 7 ethnicities)

This data appears to be complete and consistent.

#### 0.7.8 ethnicity cleaning/checks/wrangling

In [62]:
#Exploring the data for this column
dft['ethnicity'].describe()

count                                            56000
unique                                               7
top       American Indian/Alaska Native (Non-Hispanic)
freq                                              8000
Name: ethnicity, dtype: object

In [63]:
dft['ethnicity'].value_counts()

American Indian/Alaska Native (Non-Hispanic)    8000
Asian (Non-Hispanic)                            8000
Black (Non-Hispanic)                            8000
Hispanic/Latino                                 8000
Multiracial (Non-Hispanic)                      8000
Pacific Islander (Non-Hispanic)                 8000
White (Non-Hispanic)                            8000
Name: ethnicity, dtype: int64

The expected value for the counts would be 8,000  
(10 years * 50 states * 2 genders * 8 age groups)

This data appears to be complete and consistent.

### 0.8 Export the Clean Dataframe: census_2013-22_clean.pkl

In [64]:
# Confirming final shape and datetypes
dft.shape

(56000, 6)

In [65]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56000 entries, 0 to 55999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  56000 non-null  float64
 1   year        56000 non-null  int16
 2   state       56000 non-null  category
 3   age_group   56000 non-null  category
 4   gender      56000 non-null  category
 5   ethnicity   56000 non-null  category
dtypes: category(4), float64(1), int16(1)
memory usage: 3.2 MB

In [66]:
# Export df as a pickle file for future analysis in Python
dft.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'census_2013-22_clean.pkl'))

In [67]:
# Export a copy of the df as .csv that can be opened in Excel
dft.to_csv(os.path.join(path, '02 Data','Prepared Data', 'census_2013-22_clean.csv'), index = False)