# Table of Contents

0.1 Import Libraries

0.2 Import Data: All_Donors.csv

0.3 Explore Original Dataframe

0.4 Drop Unneeded Columns

0.5 Transform Dataframe / Wrangle Table Structure

0.6 Adjust Datatypes

0.7 Clean / Check / Wrangle Data
    
    0.7.1 Overall df
    0.7.2 number_donors
    0.7.3 donor_type
    0.7.4 year
    0.7.5 state
    0.7.6 age_group
    0.7.7 gender
    0.7.8 ethnicity

0.8 Export the Clean Dataframe: all_donors_clean.pkl

### 0.1 Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 0.2 Import Data: All_Donors.csv

In [2]:
# Identify the file pathway to data files
path = r'C:\Users\CJ\Documents\_CJ-Stuff\Career Foundry\Data Immersion\Ach 6 - Adv Analytics and Dashboard\Donate Life Project'

In [3]:
# Import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'All_Donors.csv'))

### 0.3 Explore Original Dataframe

In [4]:
df.shape

(5440, 20)

The number of rows and columns matches what was exported from Excel.

In [5]:
df.head()

,donor_type,year,state,age_group,"Male, White (Non-Hispanic)","Male, Black (Non-Hispanic)","Male, Hispanic/Latino","Male, Unknown","Male, Asian (Non-Hispanic)","Male, American Indian/Alaska Native (Non-Hispanic)","Male, Pacific Islander (Non-Hispanic)","Male, Multiracial (Non-Hispanic)","Female, White (Non-Hispanic)","Female, Black (Non-Hispanic)","Female, Hispanic/Latino","Female, Unknown","Female, Asian (Non-Hispanic)","Female, American Indian/Alaska Native (Non-Hispanic)","Female, Pacific Islander (Non-Hispanic)","Female, Multiracial (Non-Hispanic)"
0,Living,2022,Alabama,18-34 Years,8,1,0,0,0,0,0,0,7,1,0,0,0,0,0,0
1,Living,2022,Alabama,35-49 Years,5,0,0,0,0,0,0,0,13,6,0,0,0,0,0,0
2,Living,2022,Alabama,50-64 Years,4,0,0,0,0,0,0,0,13,1,0,0,0,0,0,0
3,Living,2022,Alabama,65 +,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,Living,2022,Alaska,18-34 Years,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
df.tail()

,donor_type,year,state,age_group,"Male, White (Non-Hispanic)","Male, Black (Non-Hispanic)","Male, Hispanic/Latino","Male, Unknown","Male, Asian (Non-Hispanic)","Male, American Indian/Alaska Native (Non-Hispanic)","Male, Pacific Islander (Non-Hispanic)","Male, Multiracial (Non-Hispanic)","Female, White (Non-Hispanic)","Female, Black (Non-Hispanic)","Female, Hispanic/Latino","Female, Unknown","Female, Asian (Non-Hispanic)","Female, American Indian/Alaska Native (Non-Hispanic)","Female, Pacific Islander (Non-Hispanic)","Female, Multiracial (Non-Hispanic)"
5435,Deceased,2013,Wisconsin,65 +,7,0,0,0,0,0,0,0,7,0,0,0,1,0,0,0
5436,Deceased,2013,Wyoming,< 1 Year,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5437,Deceased,2013,Wyoming,18-34 Years,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
5438,Deceased,2013,Wyoming,35-49 Years,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
5439,Deceased,2013,Wyoming,50-64 Years,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 20 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   donor_type                                            5440 non-null   object
 1   year                                                  5440 non-null   int64
 2   state                                                 5440 non-null   object
 3   age_group                                             5440 non-null   object
 4   Male, White (Non-Hispanic)                            5440 non-null   int64
 5   Male, Black (Non-Hispanic)                            5440 non-null   int64
 6   Male, Hispanic/Latino                                 5440 non-null   int64
 7   Male, Unknown                                         5440 non-null   int64
 8   Male, Asian (Non-Hispanic)                            5440 non-null   int64
 9   Male, American Indian/Alaska Native (Non-Hispanic)    5440 non-null   int64
 10  Male, Pacific Islander (Non-Hispanic)                 5440 non-null   int64
 11  Male, Multiracial (Non-Hispanic)                      5440 non-null   int64
 12  Female, White (Non-Hispanic)                          5440 non-null   int64
 13  Female, Black (Non-Hispanic)                          5440 non-null   int64
 14  Female, Hispanic/Latino                               5440 non-null   int64
 15  Female, Unknown                                       5440 non-null   int64
 16  Female, Asian (Non-Hispanic)                          5440 non-null   int64
 17  Female, American Indian/Alaska Native (Non-Hispanic)  5440 non-null   int64
 18  Female, Pacific Islander (Non-Hispanic)               5440 non-null   int64
 19  Female, Multiracial (Non-Hispanic)                    5440 non-null   int64
dtypes: int64(17), object(3)
memory usage: 850.1+ KB

All of the column names were extracted correctly.  The default datatypes can be simplified to make the dataframe more compact.

In [8]:
df.describe()

,year,"Male, White (Non-Hispanic)","Male, Black (Non-Hispanic)","Male, Hispanic/Latino","Male, Unknown","Male, Asian (Non-Hispanic)","Male, American Indian/Alaska Native (Non-Hispanic)","Male, Pacific Islander (Non-Hispanic)","Male, Multiracial (Non-Hispanic)","Female, White (Non-Hispanic)","Female, Black (Non-Hispanic)","Female, Hispanic/Latino","Female, Unknown","Female, Asian (Non-Hispanic)","Female, American Indian/Alaska Native (Non-Hispanic)","Female, Pacific Islander (Non-Hispanic)","Female, Multiracial (Non-Hispanic)"
count,5440.000000,5440.000000,5440.000000,5440.000000,5440.0,5440.000000,5440.000000,5440.000000,5440.000000,5440.000000,5440.000000,5440.000000,5440.0,5440.000000,5440.000000,5440.000000,5440.000000
mean,2017.511765,10.888419,2.284007,2.435294,0.0,0.440074,0.082537,0.045037,0.079963,10.461581,1.824265,1.910110,0.0,0.496875,0.081985,0.036213,0.099265
std,2.868358,16.553241,4.601098,8.267245,0.0,1.507258,0.380616,0.317986,0.398152,14.532362,3.375501,6.179354,0.0,1.703740,0.348198,0.234803,0.441961
min,2013.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,2018.000000,4.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,2020.000000,13.000000,2.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.000000,2.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,2022.000000,139.000000,39.000000,123.000000,0.0,33.000000,8.000000,7.000000,6.000000,102.000000,25.000000,79.000000,0.0,30.000000,5.000000,6.000000,8.000000

The 'Male, Unknown' and 'Female, Unknown' columns can be dropped since they have no entries.

All other basic statistics seem plausible/appropriate.

### 0.4 Drop Unneeded Columns

In [9]:
# Drop 'Male, Unknown' and 'Female, Unknown' columns 
df = df.drop(columns = ['Male, Unknown', 'Female, Unknown'])

In [10]:
# Confirming the correct columns were dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 18 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   donor_type                                            5440 non-null   object
 1   year                                                  5440 non-null   int64
 2   state                                                 5440 non-null   object
 3   age_group                                             5440 non-null   object
 4   Male, White (Non-Hispanic)                            5440 non-null   int64
 5   Male, Black (Non-Hispanic)                            5440 non-null   int64
 6   Male, Hispanic/Latino                                 5440 non-null   int64
 7   Male, Asian (Non-Hispanic)                            5440 non-null   int64
 8   Male, American Indian/Alaska Native (Non-Hispanic)    5440 non-null   int64
 9   Male, Pacific Islander (Non-Hispanic)                 5440 non-null   int64
 10  Male, Multiracial (Non-Hispanic)                      5440 non-null   int64
 11  Female, White (Non-Hispanic)                          5440 non-null   int64
 12  Female, Black (Non-Hispanic)                          5440 non-null   int64
 13  Female, Hispanic/Latino                               5440 non-null   int64
 14  Female, Asian (Non-Hispanic)                          5440 non-null   int64
 15  Female, American Indian/Alaska Native (Non-Hispanic)  5440 non-null   int64
 16  Female, Pacific Islander (Non-Hispanic)               5440 non-null   int64
 17  Female, Multiracial (Non-Hispanic)                    5440 non-null   int64
dtypes: int64(15), object(3)
memory usage: 765.1+ KB

### 0.5 Transform Dataframe / Wrangle Table Structure

In [11]:
# Extract the list of column names and set it to a string datatype
col_names_df = pd.DataFrame(columns=['col_names'])
col_names_df['col_names'] = df.columns.values.astype('str')

In [12]:
# Create an array with the gender and ethnicity split into separate columns
# NOTE: Rows 0-3 will not have data that fits this pattern, but we're going to leave them in
# so that the row indices here match column indices in df2
gender_eth_split = col_names_df['col_names'].str.split(", ", n=1, expand = True)
gender_eth_split.tail()

         0                                             1
13  Female                               Hispanic/Latino
14  Female                          Asian (Non-Hispanic)
15  Female  American Indian/Alaska Native (Non-Hispanic)
16  Female               Pacific Islander (Non-Hispanic)
17  Female                    Multiracial (Non-Hispanic)

In [13]:
# Create dataframe to hold the data in the new format
dft = pd.DataFrame(columns=['number_donors',
                            'donor_type', 
                            'year', 
                            'state', 
                            'age_group', 
                            'gender', 
                            'ethnicity'])

In [14]:
# Iterating over the rows and columns with the quantitative data
# So each data point will be its own row in the new dataframe
# and gender and ethnicity will be categorical flags.

for row in range(len(df)):
    for column in range(4,18):

        # new_row is the row index in the new dataframe dtw
        new_row = row + ((column-4)*5440)
    
        dft.loc[new_row, 'donor_type'] = df.loc[row,'donor_type']
        dft.loc[new_row, 'year'] = df.loc[row,'year']
        dft.loc[new_row, 'state'] = df.loc[row,'state']
        dft.loc[new_row, 'age_group'] = df.loc[row,'age_group']
        dft.loc[new_row, 'number_donors'] = df.iloc[row, column]
        dft.loc[new_row, 'gender'] = gender_eth_split.iloc[column, 0]
        dft.loc[new_row, 'ethnicity'] = gender_eth_split.iloc[column, 1]

In [15]:
dft.shape

(76160, 7)

The shape has the expected number of rows and columns.

In [16]:
dft.head(20)

,number_donors,donor_type,year,state,age_group,gender,ethnicity
0,8,Living,2022,Alabama,18-34 Years,Male,White (Non-Hispanic)
5440,1,Living,2022,Alabama,18-34 Years,Male,Black (Non-Hispanic)
10880,0,Living,2022,Alabama,18-34 Years,Male,Hispanic/Latino
16320,0,Living,2022,Alabama,18-34 Years,Male,Asian (Non-Hispanic)
21760,0,Living,2022,Alabama,18-34 Years,Male,American Indian/Alaska Native (Non-Hispanic)
27200,0,Living,2022,Alabama,18-34 Years,Male,Pacific Islander (Non-Hispanic)
32640,0,Living,2022,Alabama,18-34 Years,Male,Multiracial (Non-Hispanic)
38080,7,Living,2022,Alabama,18-34 Years,Female,White (Non-Hispanic)
43520,1,Living,2022,Alabama,18-34 Years,Female,Black (Non-Hispanic)
48960,0,Living,2022,Alabama,18-34 Years,Female,Hispanic/Latino
54400,0,Living,2022,Alabama,18-34 Years,Female,Asian (Non-Hispanic)
59840,0,Living,2022,Alabama,18-34 Years,Female,American Indian/Alaska Native (Non-Hispanic)
65280,0,Living,2022,Alabama,18-34 Years,Female,Pacific Islander (Non-Hispanic)
70720,0,Living,2022,Alabama,18-34 Years,Female,Multiracial (Non-Hispanic)
1,5,Living,2022,Alabama,35-49 Years,Male,White (Non-Hispanic)
5441,0,Living,2022,Alabama,35-49 Years,Male,Black (Non-Hispanic)
10881,0,Living,2022,Alabama,35-49 Years,Male,Hispanic/Latino
16321,0,Living,2022,Alabama,35-49 Years,Male,Asian (Non-Hispanic)
21761,0,Living,2022,Alabama,35-49 Years,Male,American Indian/Alaska Native (Non-Hispanic)
27201,0,Living,2022,Alabama,35-49 Years,Male,Pacific Islander (Non-Hispanic)

In [17]:
dft.tail(20)

,number_donors,donor_type,year,state,age_group,gender,ethnicity
48958,0,Deceased,2013,Wyoming,35-49 Years,Female,Black (Non-Hispanic)
54398,0,Deceased,2013,Wyoming,35-49 Years,Female,Hispanic/Latino
59838,0,Deceased,2013,Wyoming,35-49 Years,Female,Asian (Non-Hispanic)
65278,0,Deceased,2013,Wyoming,35-49 Years,Female,American Indian/Alaska Native (Non-Hispanic)
70718,0,Deceased,2013,Wyoming,35-49 Years,Female,Pacific Islander (Non-Hispanic)
76158,0,Deceased,2013,Wyoming,35-49 Years,Female,Multiracial (Non-Hispanic)
5439,2,Deceased,2013,Wyoming,50-64 Years,Male,White (Non-Hispanic)
10879,0,Deceased,2013,Wyoming,50-64 Years,Male,Black (Non-Hispanic)
16319,0,Deceased,2013,Wyoming,50-64 Years,Male,Hispanic/Latino
21759,0,Deceased,2013,Wyoming,50-64 Years,Male,Asian (Non-Hispanic)
27199,0,Deceased,2013,Wyoming,50-64 Years,Male,American Indian/Alaska Native (Non-Hispanic)
32639,0,Deceased,2013,Wyoming,50-64 Years,Male,Pacific Islander (Non-Hispanic)
38079,0,Deceased,2013,Wyoming,50-64 Years,Male,Multiracial (Non-Hispanic)
43519,0,Deceased,2013,Wyoming,50-64 Years,Female,White (Non-Hispanic)
48959,0,Deceased,2013,Wyoming,50-64 Years,Female,Black (Non-Hispanic)
54399,0,Deceased,2013,Wyoming,50-64 Years,Female,Hispanic/Latino
59839,0,Deceased,2013,Wyoming,50-64 Years,Female,Asian (Non-Hispanic)
65279,1,Deceased,2013,Wyoming,50-64 Years,Female,American Indian/Alaska Native (Non-Hispanic)
70719,0,Deceased,2013,Wyoming,50-64 Years,Female,Pacific Islander (Non-Hispanic)
76159,0,Deceased,2013,Wyoming,50-64 Years,Female,Multiracial (Non-Hispanic)

The head and tail match data visible in Excel.

### 0.6 Adjust Datatypes

In [18]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76160 entries, 0 to 76159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   number_donors  76160 non-null  object
 1   donor_type     76160 non-null  object
 2   year           76160 non-null  object
 3   state          76160 non-null  object
 4   age_group      76160 non-null  object
 5   gender         76160 non-null  object
 6   ethnicity      76160 non-null  object
dtypes: object(7)
memory usage: 6.7+ MB

In [19]:
# The max integer for any quantitative column is 2022, and int16 accomodates up to 32k
dft['year'] = dft['year'].astype('int16')
dft['number_donors'] = dft['number_donors'].astype('int16')

In [20]:
# The columns classified as 'objects' are really categorical variables.
dft['donor_type'] = dft['donor_type'].astype('category')
dft['state'] = dft['state'].astype('category')
dft['age_group'] = dft['age_group'].astype('category')
dft['gender'] = dft['gender'].astype('category')
dft['ethnicity'] = dft['ethnicity'].astype('category')

In [21]:
# Confirming changes took
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76160 entries, 0 to 76159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   number_donors  76160 non-null  int16
 1   donor_type     76160 non-null  category
 2   year           76160 non-null  int16
 3   state          76160 non-null  category
 4   age_group      76160 non-null  category
 5   gender         76160 non-null  category
 6   ethnicity      76160 non-null  category
dtypes: category(5), int16(2)
memory usage: 3.3 MB

In [22]:
# Reclaiming space
del df

### 0.7 Clean / Check Data

#### 0.7.1 Overall df checks

In [23]:
# Checking for nulls across the df
dft.isnull().sum()

number_donors    0
donor_type       0
year             0
state            0
age_group        0
gender           0
ethnicity        0
dtype: int64

No nulls found

In [24]:
# Check for mixed data types
for col in dft.columns.tolist():
  weird = (dft[[col]].applymap(type) != dft[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (dft[weird]) > 0:
    print (col)

No mixed data types found

In [25]:
# Checking for whole-row duplicates
dups = dft[dft.duplicated()]

In [26]:
dups.shape

(0, 7)

No duplicates found

#### 0.7.2 - number_donors cleaning/checks/wrangling

In [27]:
#Exploring the data for this column
dft['number_donors'].describe()

count    76160.000000
mean         2.226116
std          7.593993
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max        139.000000
Name: number_donors, dtype: float64

These numbers are appropriate given the preliminary exploration of the .csv in Excel.

In [45]:
# Exploring the data for the non-zero entries
dft[dft['number_donors']>0].number_donors.describe()

count    22676.000000
mean         7.476671
std         12.427179
min          1.000000
25%          1.000000
50%          3.000000
75%          8.000000
max        139.000000
Name: number_donors, dtype: float64

In [46]:
# Total number of donors
dft['number_donors'].sum()

169541

#### 0.7.3 - donor_type cleaning/checks/wrangling

In [28]:
#Exploring the data for this column
dft['donor_type'].describe()

count        76160
unique           2
top       Deceased
freq         49476
Name: donor_type, dtype: object

In [29]:
dft['donor_type'].value_counts()

Deceased    49476
Living      26684
Name: donor_type, dtype: int64

These counts match what we would expect based on examination of the .csv in Excel

In [59]:
#Exploring the number of donors in each category
dft.groupby('donor_type').number_donors.sum()

donor_type
Deceased    108443.0
Living       61098.0
Name: number_donors, dtype: float64

#### 0.7.4 year cleaning/checks/wrangling

In [30]:
#Exploring the data for this column
dft['year'].describe()

count    76160.000000
mean      2017.511765
std          2.868113
min       2013.000000
25%       2015.000000
50%       2018.000000
75%       2020.000000
max       2022.000000
Name: year, dtype: float64

In [31]:
dft['year'].value_counts().sort_index()

2013    7532
2014    7518
2015    7658
2016    7630
2017    7588
2018    7630
2019    7770
2020    7532
2021    7672
2022    7630
Name: year, dtype: int64

There is variation in the counts between different years because in some years, some age groups were not reported by some states.  This means that no donors occured in those age groups in that state in that particular year. (This was confirmed via email with the owner of the data)

In [56]:
# Exploring the number of donors in each year
dft.groupby('year').number_donors.sum()

year
2013    13933
2014    14045
2015    14688
2016    15598
2017    16130
2018    17193
2019    18895
2020    18012
2021    20066
2022    20981
Name: number_donors, dtype: int16

#### 0.7.5 state cleaning/checks/wrangling

In [32]:
#Exploring the data for this column
dft['state'].describe()

count            76160
unique              50
top       Pennsylvania
freq              1722
Name: state, dtype: object

In [33]:
dft['state'].value_counts()

Pennsylvania      1722
Illinois          1694
Virginia          1694
New York          1694
Georgia           1694
Texas             1680
Arizona           1680
California        1680
New Jersey        1680
Florida           1680
North Carolina    1680
Indiana           1666
Tennessee         1666
Michigan          1666
Ohio              1666
Wisconsin         1652
Oklahoma          1652
Louisiana         1652
Missouri          1652
Minnesota         1652
Maryland          1638
Iowa              1624
Alabama           1610
Washington        1610
South Carolina    1596
Nevada            1596
Utah              1596
Mississippi       1582
Kentucky          1568
Kansas            1554
Massachusetts     1540
Oregon            1526
Colorado          1512
Idaho             1484
Arkansas          1470
Nebraska          1456
West Virginia     1456
Connecticut       1442
New Mexico        1428
Montana           1330
Delaware          1330
South Dakota      1316
Maine             1302
Hawaii            1246
New Hampshire     1218
Alaska            1176
Wyoming           1148
North Dakota      1120
Rhode Island      1092
Vermont           1092
Name: state, dtype: int64

In [34]:
dft['state'].value_counts().sort_index()

Alabama           1610
Alaska            1176
Arizona           1680
Arkansas          1470
California        1680
Colorado          1512
Connecticut       1442
Delaware          1330
Florida           1680
Georgia           1694
Hawaii            1246
Idaho             1484
Illinois          1694
Indiana           1666
Iowa              1624
Kansas            1554
Kentucky          1568
Louisiana         1652
Maine             1302
Maryland          1638
Massachusetts     1540
Michigan          1666
Minnesota         1652
Mississippi       1582
Missouri          1652
Montana           1330
Nebraska          1456
Nevada            1596
New Hampshire     1218
New Jersey        1680
New Mexico        1428
New York          1694
North Carolina    1680
North Dakota      1120
Ohio              1666
Oklahoma          1652
Oregon            1526
Pennsylvania      1722
Rhode Island      1092
South Carolina    1596
South Dakota      1316
Tennessee         1666
Texas             1680
Utah              1596
Vermont           1092
Virginia          1694
Washington        1610
West Virginia     1456
Wisconsin         1652
Wyoming           1148
Name: state, dtype: int64

There is variation in the counts between different states because in some years, some age groups were not reported by some states.  This means that no donors occured in those age groups in that state in that particular year.

In [60]:
#Exploring the number of donors in each state
dft.groupby('state').number_donors.sum()

state
Alabama            2705
Alaska              403
Arizona            3778
Arkansas           1188
California        16833
Colorado           2966
Connecticut        1801
Delaware            792
Florida            9983
Georgia            5067
Hawaii              598
Idaho               825
Illinois           7568
Indiana            3622
Iowa               1595
Kansas             1748
Kentucky           2261
Louisiana          2703
Maine               791
Maryland           3750
Massachusetts      3292
Michigan           5496
Minnesota          2961
Mississippi        1421
Missouri           3897
Montana             514
Nebraska           1041
Nevada             1910
New Hampshire       733
New Jersey         4964
New Mexico         1019
New York           9313
North Carolina     4949
North Dakota        367
Ohio               6916
Oklahoma           2366
Oregon             1618
Pennsylvania       9233
Rhode Island        441
South Carolina     2442
South Dakota        426
Tennessee          4058
Texas             14729
Utah               1700
Vermont             289
Virginia           4380
Washington         3063
West Virginia      1032
Wisconsin          3712
Wyoming             282
Name: number_donors, dtype: int16

#### 0.7.6 age_group cleaning/checks/wrangling

In [35]:
#Exploring the data for this column
dft['age_group'].describe()

count           76160
unique              8
top       35-49 Years
freq            13972
Name: age_group, dtype: object

In [36]:
dft['age_group'].value_counts()

35-49 Years    13972
50-64 Years    13972
18-34 Years    13930
65 +           12026
11-17 Years     6524
1-5 Years       5698
< 1 Year        5054
6-10 Years      4984
Name: age_group, dtype: int64

There is variation across age groups because in some years, some age groups were not reported by some states.  This means that no donors occured in those age groups in that state in that particular year.

In [57]:
dft.groupby('age_group').number_donors.sum()

age_group
1-5 Years       2123.0
11-17 Years     4392.0
18-34 Years    47914.0
35-49 Years    54271.0
50-64 Years    48391.0
6-10 Years      1144.0
65 +           10022.0
< 1 Year        1284.0
Name: number_donors, dtype: float64

#### 0.7.7 gender cleaning/checks/wrangling

In [37]:
#Exploring the data for this column
dft['gender'].describe()

count      76160
unique         2
top       Female
freq       38080
Name: gender, dtype: object

In [38]:
dft['gender'].value_counts()

Female    38080
Male      38080
Name: gender, dtype: int64

Counts are as expected

In [52]:
dft[dft['gender']=='Male'].number_donors.sum()

88429

In [53]:
dft[dft['gender']=='Female'].number_donors.sum()

81112

#### 0.7.8 ethnicity cleaning/checks/wrangling

In [39]:
#Exploring the data for this column
dft['ethnicity'].describe()

count                                            76160
unique                                               7
top       American Indian/Alaska Native (Non-Hispanic)
freq                                             10880
Name: ethnicity, dtype: object

In [40]:
dft['ethnicity'].value_counts()

American Indian/Alaska Native (Non-Hispanic)    10880
Asian (Non-Hispanic)                            10880
Black (Non-Hispanic)                            10880
Hispanic/Latino                                 10880
Multiracial (Non-Hispanic)                      10880
Pacific Islander (Non-Hispanic)                 10880
White (Non-Hispanic)                            10880
Name: ethnicity, dtype: int64

Counts are as expected

In [58]:
dft.groupby('ethnicity').number_donors.sum()

ethnicity
American Indian/Alaska Native (Non-Hispanic)       895.0
Asian (Non-Hispanic)                              5097.0
Black (Non-Hispanic)                             22349.0
Hispanic/Latino                                  23639.0
Multiracial (Non-Hispanic)                         975.0
Pacific Islander (Non-Hispanic)                    442.0
White (Non-Hispanic)                            116144.0
Name: number_donors, dtype: float64

### 0.8 Export the Clean Dataframe: all_donors_clean.pkl

In [41]:
# Confirming final shape and datetypes
dft.shape

(76160, 7)

In [42]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76160 entries, 0 to 76159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   number_donors  76160 non-null  int16
 1   donor_type     76160 non-null  category
 2   year           76160 non-null  int16
 3   state          76160 non-null  category
 4   age_group      76160 non-null  category
 5   gender         76160 non-null  category
 6   ethnicity      76160 non-null  category
dtypes: category(5), int16(2)
memory usage: 3.3 MB

In [43]:
# Export df as a pickle file for future analysis in Python
dft.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_donors_clean.pkl'))

In [44]:
# Export a copy of the df as .csv that can be opened in Excel
dft.to_csv(os.path.join(path, '02 Data','Prepared Data', 'all_donors_clean.csv'), index = False)